body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #f6e7f1;
}
input {
  height: 3rem;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  font-size: 20px;
  border-radius: 20%/100%;
  background: #e5c8e5;
  padding: 0 10px;
}
.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
button {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  background: #e5c8e5;
  box-shadow: 4px 4px 7px #b583c9;
}
button:hover {
  animation: colorchange 0.5s forwards;
}

@keyframes colorchange {
  from {
    background-color: #e5c8e5;
  }
  to {
    background-color: #b583c9;
  }
}

.calculatesigns {
  background: #782986;

  color: beige;
}
.calculatesigns:hover {
  animation: colorchangeForSigns 0.5s forwards;
}

@keyframes colorchangeForSigns {
  from {
    background: #782986;
  }
  to {
    background: #9358ac;
  }
}
